/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body::-webkit-scrollbar {
    width: 0 !important
}

body { 
    -ms-overflow-style: none; 
}


#navbar {
    overflow: hidden;
    background-color: gray;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    color: #004e8c;
    height: 3vh;
}

.navLink {
    font-family: 'Open Sans', sans-serif;
    line-height: 3vh;
}

a:visited {
    color: #004e8c;
    text-decoration: none;
}

#welcome-section {
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(-90deg, red, yellow);
    width: 100%;
}

#welcomeText {
    padding-top: 40vh;
    color: #004e8c;
    font-family: 'Open Sans', sans-serif;
    border-left: -10px;
    font-size: 40px;
}

#name {
    font-weight: bolder;
}

#projectsHeader {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #004e8c;
    margin-top: 0;
    padding-top: 30px;
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: bold;
}

#projects {
    height: 100vh;
    width: 100%;
}


#projectTiles {
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
    grid-row-gap: 5vh;
}

.projectTile {
    width: 31vh;
    height: 33vh;
    text-align: center;
    background: gray;
}

.projectPic {
    width: 30vh;
    height: 30vh;
    margin: auto;
}

#contactForm {
    height: 100vh;
    text-align: center;
    width: 100%;
    background-color: #004e8c;
    overflow-y: scroll;
}

#contactHeader {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-top: 30px;
    font-size: 40px;
    padding-bottom: 10px;
}

.dot {
    height: 30vh;
    width: 30vh;
    background-color: #f5f6f7;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

#dotsContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
    padding-top: 30vh;
}

.dotText {
    line-height: 30vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.appName {
    font-family: 'Open Sans', sans-serif;
    color: #004e8c;
}

.appLink:visited {
    color: #004e8c;
}

.contactLink:visited {
    color: #004e8c;
}

.contactLink {
    color: #004e8c;
}

a {
    text-decoration: none;
    color: #004e8c;
}

@media only screen and (max-width: 800px) {
    #projectTiles {
        display: grid;
        justify-items: center;
        grid-template-columns: auto auto;
        grid-row-gap: 2vh;
    }
    .projectTile {
        width: 27vh;
        height: 27vh;
        text-align: center;
        background-color: gray;
    }

    .projectPic {
        width: 25vh;
        height: 25vh;
        margin: auto;
    }

    .dot {
        height: 20vh;
        width: 20vh;
        background-color: #f5f6f7;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
    }

    .dotText {
        line-height: 20vh;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
    }
    
}

@media only screen and (max-width: 600px) {
    .dot {
        height: 20vh;
        width: 20vh;
        background-color: #f5f6f7;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
    }

    #dotsContainer {
        display: grid;
        justify-items: center;
        grid-template-columns: auto;
        padding-top: 15vh;
        grid-row-gap: 2vh;
    }

    .projectTile {
        width: 27vh;
        height: 29vh;
        text-align: center;
        background-color: gray;
    }

    #projectTiles {
        display: grid;
        justify-items: center;
        grid-template-columns: auto;
        grid-row-gap: 3vh;
    }

    #projects {
        width: 100%;
        height: 200vh;
    }

}



